<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.nsu.trivia.quiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".QuizActivity"
            android:theme="@style/Theme.Quiz.NoActionBar" />
        <activity
            android:name=".LobbyActivity"
            android:theme="@style/Theme.Quiz.NoActionBar" />
        <activity
            android:name=".JoinRoomActivity"
            android:theme="@style/Theme.Quiz.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Quiz.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>